.custom-audio-player{
    width: 100%;
    position: fixed;
    bottom: -10px;
    left: 0px;
    padding: 0.5rem 0rem;
   
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-color: rgba(14, 2, 21, 0.5);

}

.display-image-input{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.duration-range{
    filter:hue-rotate(25deg);
    width: 100%;
}

.duration-flex{
    margin: 0 2rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 60%;
   gap:1rem;
}

.volume-range{
    filter:hue-rotate(25deg);
    width: 20%;
}

